h1{
    text-align: center;
}

.contenedor{
    display: flex;/**/
    background-color: lightgreen;
    /* height: 500px;
    flex-direction: row-reverse;
    flex-wrap:  wrap;
    justify-content: space-around;  
    align-items: center; */
}

.contenedor > div{
    background-color: lightgrey;
    width: 200px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.contenedor > div#uno{
    order: 6;
    flex-grow: 2;
}
.contenedor > div#dos{
    order: 1;
    flex-shrink: 2;
}
.contenedor > div#tres{
    order: 2;
}
.contenedor > div#cuatro{
    order: 4;
}
.contenedor > div#cinco{
    order: 3;
}
.contenedor > div#seis{
    order: 5;
}
.contenedor > div#siete{
    order: 8;
}
.contenedor > div#ocho{
    order: 7;
}